*{
    margin: 0;
    padding: 0;
}

/*Logo Name*/
#logo-name{
    float: left;
    padding: 14px 16px;
}

/* Navigation Bar */
#navbar{
    text-align: center;
    overflow: hidden;
    background-color: #00807b;
    font-size: 17px;
}

#navbar a{
    text-decoration: none;
    color: white;
}

#navbar-pages li{
    display: inline;
    float: right;
    padding: 14px 16px;
}